<div class="container-fluid row justify-content-around mx-auto">

	<h2 class="col-12 container">Discover our Portfolio</h2>


	<div class="container row justify-content-around mx-auto">
		<div class="divBox col-md-5 col-xs-11 m-2 mb-3 row " *ngFor="let title of titles; index as i">
		    <a routerLink="/galery">
		    	<div class="thumbnail text-center col-12">
			        <img [src]='"assets/img/Resized1-1/RESIZED"+i+".jpg"' alt="" class="pictures img-fluid">
			        <div class="caption">
			            <h1>{{title}}</h1>
			        </div>
		    	</div>
			</a>
		</div>
	</div>



</div>


