a{
	text-decoration: none;
}

#papaDiv{
  overflow: hidden;
  border: 5px solid white;
  position: relative;
}
#zoomedPic:hover{
  cursor: zoom-out !important;
}

.toggle{
  display: block !important;
  position: absolute !important;
  transform: scale(1.2);
  z-index: 1500 !important;
  cursor: zoom-out !important;
  text-align: center !important;
  padding-top: 10% !important;
  width: 100%;
  bottom: 0;
}

#zoomedPic{
  display:none;
  background-color: rgba(255, 255, 255, 0.5);

}


img:hover{
  cursor: zoom-in;
}

img{
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.zoomImg{
  width: 100% !important;
}
