
#droprightBtn{
	font-size: 1.5em;
}

button{
	font-size: 1.2em;
}


html, body {
  position: relative ;
  height: 100% ;
}
body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

.swiper-container2 {
  width: 100% !important;
  height: 80vh !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.swiper-container3 {
  width: 100% !important;
  height: 10rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.swiper-slide2 {
  background-size: cover !important;
  background-position: center !important;
}

.gallery-top {
  //height: 80% !important;
  width: 100% !important;
  padding-top: 10px !important;

}
.gallery-thumbs {
  height: 20% ;
  box-sizing: border-box !important;
  padding: 10px 0 !important;
}
.gallery-thumbs .swiper-slide {
  width: 25% ;
  height: 100% ;
  opacity: 0.4 !important;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1 !important;
}
