<div class="container-fluid">
  <div class="row d-flex justify-content-around">


    <div class = "container text-center boxShadow m-3">
      <h2 class="" >Find Us on Google Maps</h2>

      <iframe class = "col-10 p-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.1853252038054!2d16.323452415018128!3d48.20304617922869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07fb8ef0893d%3A0x9f57b98c7bcba180!2sStutterheimstra%C3%9Fe%2016-18%2C%201150%20Wien!5e0!3m2!1sde!2sat!4v1583238935474!5m2!1sde!2sat" width="500" height="500" frameborder="0"  allowfullscreen=""></iframe>

    </div>


    <div class =" col-10 col-md-5 text-center boxShadow m-3">

      <div class="text-center ">
        <h2 class="p-3">Contact Us</h2>
        <h6>Stutterheimstraße 16-18, </h6>
          <h6>1150 Vienna</h6>
        <h6>+43 670 606 1313</h6>
        <button class = "btn btn-light" type="button"  href="mailto:scelli.lisa@gmail.com" >Click here to email me</button>
      </div>
      <div class = "icons">

        <a class = "iconimg inst" href="#"><img class = "inst" src="/assets/img/Icons/instagram.png" alt=""></a>
        <a class = "iconimg " href="#"><img class = "twit" src="/assets/img/Icons/twitter.png" alt=""></a>
        <a class = "iconimg" href="#"><img class ="face" src="/assets/img/Icons/facebook.png" alt="sad"></a>

      </div>

    </div>

    <div class = "container boxShadow p-2 text-center">
      <img class="img-fluid" src="/assets/img/studio.jpg" alt="">
    </div>

  </div>
</div>


<div class="row">
      <div class="under">
        <h3 class="text-info">Got further questions?</h3>
        <h4 class="text-info">Your Photographer <br>is here to help you and answer any question you might have.</h4>
          <img class="col-3" src="/assets/img/logo.png" alt="">
        </div>

    <div class="parallax">

    </div>

 </div>







